@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

#root {
  font-family: 'GmarketSansMedium';
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background: inherit;
  border: none;
  font: inherit;
  color: inherit;
  padding: 0;
}

input {
  border: none;
  font: inherit;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

textarea {
  resize: none;
  overflow: hidden;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.skeleton {
  position: relative;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.skeleton::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );

  animation: loadingMobile 0.5s infinite linear;
}

@media screen and (min-width: 420px) {
  .skeleton::after {
    animation: loadingPC 0.5s infinite linear;
  }
}

@keyframes loadingPC {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50vw);
  }
}

@keyframes loadingMobile {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(75vw);
  }
}
